<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DivaHook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DivaHook.Properties.Settings>
            <setting name="VocaloidPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>ＮＯ－ＮＡＭＥ</value>
            </setting>
            <setting name="ActToggle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ActVol" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ActSlideVol" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HpVol" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PvSortKind" serializeAs="String">
                <value>2</value>
            </setting>
        </DivaHook.Properties.Settings>
    </userSettings>
</configuration>